*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.container{
    height: 500px;
    display: grid;
    background-color: beige;
    place-content: center;
    /* grid-template-columns: 200px 200px 200px 200px; */
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}
.box{
    height: 200px;
    width: 200px;
    background-color: black;
    border: 1px solid blue;
}
.box6{
    grid-row-start: 1;
    grid-row-end: 3 ;
    /* grid-column: 1 / 5; */
}