*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html,body{
    width: 100%;
height: 100%;
}
#main{
height: 100%;
width: 100%;
background-color: lavender;
display: flex;
    align-items: center;
    justify-content: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#centre{
    height: 50%;
    width: 25%;
    background-color: lavender;
    border: 1px solid black;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 10px 10px rgb(135, 135, 243);
    
  }
#email{
    height: 40px;
    width:300px;
    border-radius: 5px;
  }


#password{
    height: 40px;
      width:300px;
    border-radius: 5px;
  }

  #Name{
    height: 40px;
      width:300px;
    border-radius: 5px;
  }

  #number{
    height: 40px;
      width:300px;
    border-radius: 5px;
  }
  button{
    height: 40px;
      width:300px;
      background-color: rgb(135, 135, 243);
    border-radius: 5px;

  }
  